# This template should be triggered via pre-commit config. To install it, run:
# pre-commit install
#
# To run this template manually, run:
# jinja2 --format=yaml config.jinja deployment_manifest.yaml

{% if deployments|length > 0 %}
{%- for item, attr in deployments.items() %}
module "config_conformance_pack_{{ item }}" {
  providers = {
    aws   = aws.{{ attr.provider_region }}
    awscc = awscc.{{ attr.provider_region }}
  }
  source                = "./modules/config"
  conformance_pack_name = "Operational-Best-Practices-for-AI-and-ML"
}
{% endfor %}
{% endif %}